<div class="fixed-bottom container-fluid text-center 
            bottom-container">
    <footer>
        <p>Copyright &copy;2021. &#9865; Modern Software Development with DevOps &#9865; All rights reserved.</p>
    </footer>
</div>
